<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TickersProviderSettings" type="EtfExtractor.Settings.TickersProviderSettings, EtfExtractor"/>
    <section name="SymbolsReaderSettings" type="EtfExtractor.Settings.SymbolsReaderSettings, EtfExtractor"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <!--
    FileUri - url or local path to the Excel file with ETF list, e.g. http://www.tmxmoney.com/en/pdf/ETF_List.xls, C:\ETF_list.xls
              Note: xls file is downloaded locally. Filename follows yyyy_MM_dd.xls format, , thus filename is unique everyday. The file will NOT be re-downloaded if it already exists.
    SheetName - name of the excel sheet where ETF list can be found
    TickerListRowIndex, TickerListColumnIndex - zero-based row indexes indicating where the first ETF symbol is located in the Excel sheet
    -->
  <TickersProviderSettings
    FileUri="http://www.tmxmoney.com/en/pdf/ETF_List.xls"
    SheetName="Total"
    TickerListRowIndex="2"  
    TickerListColumnIndex="1" />

  <!--
    DataUri - uri where information for individual symbols (quotes) can be found
    NumberOfQuotesToRead - limit a number of quotes to be read. "0" indicates that all quotes should be read.
    SleepBetweenRequestsInMs - number of milliseconds to wait between requests
    ColumnSeparator - separator to be used in CSV file
    EmptyQuotePlaceholder - value to be used if a field for given quote symbol was not found, e.g. if something changes in html markup.
    OutputFolder - folder where output csv file is stored. Empty value means application start-up folder.
                   Note: file name follows "yyyy_MM_dd_OUTPUT.csv" format, thus filename is unique everyday. The file will be overwritten if it already exists.
  -->
  <SymbolsReaderSettings
    DataUri="http://web.tmxmoney.com/quote.php?qm_symbol={0}"
    NumberOfQuotesToRead="0"
    SleepBetweenRequestsInMs="10"
    ColumnSeparator=","
    EmptyQuotePlaceholder="---"
    OutputFolder="" />
</configuration>